.detailsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.details_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/warehouse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.details_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  border-radius: 10px;
}

.details_container * {
  position: relative;
  z-index: 1;
}

.editBtn {
  position: absolute;
  right: 25%;
  bottom: 84%;
  z-index: 100;
  background-color: rgb(214, 69, 25);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.saveBtn {
  position: absolute;
  right: 30%;
  bottom: 84%;
  z-index: 100;
  background-color: rgb(214, 69, 25);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.details_container p {
  color: white;
  font-size: large;
  margin-top: 0.5rem;
  font-weight: bold;
}

label {
  color: white;
  font-weight: bold;
}

.editable_Box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.values {
  padding: 0.01rem;
  font-size: large;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 0.5rem;
  font-weight: bold;
}


@media only screen and (max-width: 700px) {
  .details_container {
    width: 80vw;
  }


  .editBtn {
  position: absolute;
  right: 10%;
  bottom: 84%;
}

.saveBtn {
  position: absolute;
  right: 25%;
  bottom: 84%;
}
}

