.navbar {
    background-color: rgb(68, 115, 197);
    width: 100%;
    height: 4rem;
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.nav-btn {
    background-color: rgb(68, 115, 197);
    color: white;
    padding: 0.5rem;
    font-size: larger;
    border-radius: 5px;
}



